.quickquote {
    width: 100vw;
    height: 100vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
    overflow: hidden;
}



.quickquote .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url(https://c0.wallpaperflare.com/path/760/908/15/shaking-hands-handshake-skyline-city-106bc79bea66b07872a24675098d7951.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.quickquote .cover3 {
    position: absolute;
    bottom: -70%;
    left: 12;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url("quote png/—Pngtree—3d\ businessman\ asking\ question_12994998.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    overflow: hidden;
}

.quickquote .cover2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.737);
    backdrop-filter: blur(10px);
    z-index: -1;
}

.quickquote h2 {
    position: absolute;
    left: 0;
    width: 100vw;
    /* background: #000; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 10px rgba(249, 249, 249, 0.7);
    top: 10%;
    
    font-size: 120px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    color: rgb(255, 255, 255);
}

.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;

    
}

.input_section{
    width: 60%;
    height: 150px;
    /* background: #b00a0a; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;
    margin-top: 15%;
    padding: 30px;
   

}

.move{
    width: 60%;
    height: 150px;
  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;
    margin-top: 15%;
    padding: 30px;
    
    
}

.inputs{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
    color:  #ffa500;
    font-weight: bold;
}

.reveal{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: space-evenly;
    gap: 20px;
}


.reveal textarea{
    font-size: 20px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2); 
    color: #ffffff; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reveal select{
    font-size: 20px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2); 
    color: #000000; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}




.reveal input{
    font-size: 20px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2); 
    color: #ffffff; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#fir_input:hover , #sec_input:hover{
    box-shadow: 0px 0px 10px 0px rgb(237, 237, 237);
}

#fir_input:focus , #sec_input:focus{
    box-shadow: 0px 0px 10px 0px rgb(7, 246, 31);
}

.btn {
    display: inline-block;
    /* overflow: hidden; */
}

.btn button {
    /* background: radial-gradient(circle, #ff7e5f, #feb47b); */
    background: transparent;
    width: 39px;
    height: 39px;
    border: none;
    border-radius: 50%; /* Corrected to make it a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
     /* Added transition for smooth transform */

     
}

.btn button.active {
  
    animation: background-trans 0.5s;
    /* background: transparent; */
}



@keyframes background-trans {
    0%{
        transform: translateX(0%);
     
    }
    50%{
       
    }
    75%{
       
    }
    100%{
        transform: translateX(1500%);
       

    }
    
}




.btn button img{
    width: 40px;
    transition: all 0.2s;
}

.btn button img:hover{
    transform: scale(1.3);
    filter: drop-shadow(0px 0px 3px rgb(255, 136, 0))
}

@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+WAL:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quote_line{
    /* width: 100vw; */
    /* backdrop-filter: blur(10px); */
    position: relative;
    font-family: "Playwrite BE WAL", cursive;

    /* background: #ad1616; */
}

.quote_line p {
    font-size: 20px;
    /* color: #57e883; */
    
    color: #ffffff;
    filter: drop-shadow(1px 0px 0px rgb(234, 150, 6));
    font-weight:normal;
    /* letter-spacing: 2px; */
}

.reveal::placeholder{
    color: #780909;
}


.call {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    /* position: relative; */
}

.call button{
    width: 80px;
    height: 40px;
    border-radius: 100px;
    background: linear-gradient(45deg, #15ffb1, #99ff0b);

    border: none;
    transition: all 0.2s;
  
   

   
}

.call button img {
    
    width: 40%;
    z-index: 1;
    }



.call button:hover {
    transform: scale(1.05);
    /* z-index: 1; */
    box-shadow: 0px 0px 10px 0px rgb(7, 246, 31);

}

.call button:active{
    box-shadow: 0px 1px 20px 1px #00ffd0
}

/* .overlap-png{
    position: absolute;
    width: 100vw;
    height: 1000px;
}

.overlap-png img{
    width: 100%;
    height: 100%;
} */
